@charset "UTF-8";
html {
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  color: #000000;
}

@media (min-width: 1999.98px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 9px;
  }
}

.title {
  font-family: "Fredericka";
  text-transform: uppercase;
}

.header {
  height: 100vh;
  margin-bottom: 8rem;
  min-height: 700px;
  max-height: 1080px;
  background: url(/images/bg-rectangle.png) 0 0/100% 100% no-repeat;
}

.header__navbar {
  height: 20vh;
  min-height: 140px;
  max-height: 216px;
  margin: 0 58px;
  padding-top: 40px;
  font-size: 1.6rem;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 80vh;
  min-height: 560px;
  max-height: 864px;
  margin: 0 15px;
}

.navbar-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.navbar-phone {
  position: relative;
  padding-right: 45px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-phone__title {
  text-align: right;
  padding-top: 5px;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.navbar-phone__number {
  font-size: 2.9rem;
  line-height: 3.2rem;
}

.navbar-phone__phone-pic {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-nav-row {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.33px;
}

.navbar-nav-row__ul {
  list-style-type: none;
  text-align: right;
}

.navbar-nav-row__li {
  display: inline-block;
  margin-right: 47px;
}

.navbar-nav-row__li a {
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
}

.navbar-nav-row__li:last-child {
  margin-right: 0;
}

.hero-article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-article__question {
  margin-bottom: 15px;
  color: #000000;
  font-family: Gabelisa;
  font-size: 5.8rem;
  font-weight: 400;
}

.hero-article__title {
  max-width: 650px;
  font-size: 90px;
}

.hero-article__subtitle {
  margin-bottom: 35px;
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-article__line {
  margin-bottom: 35px;
  width: 68%;
  height: 0.5px;
  background-color: #000;
}

.hero-article__sale {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: "Fredericka";
}

.hero-article__sale .hero-article__sale-left-text {
  position: relative;
  top: 10px;
  left: -5px;
  max-width: 150px;
  font-size: 1.9rem;
  line-height: 2.2rem;
}

.hero-article__sale .hero-article__sale-right-text {
  max-width: 130px;
  line-height: 5.7rem;
  font-size: 5.7rem;
}

.hero-article__order-btn {
  width: 227px;
  height: 58px;
  border: 1px solid #000000;
  background-color: inherit;
  font-weight: 800;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.hero-dish {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url(/images/hero-pasta.png) center left/contain no-repeat;
}

.hero-decorations {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-decorations__leaf {
  position: absolute;
  background: url(/images/header-decorations/Leaf.png) no-repeat 0 0/contain;
  top: 2%;
  left: 3%;
  width: 5.9rem;
  height: 9.6rem;
}

.hero-decorations__tomat {
  position: absolute;
  background: url(/images/header-decorations/Tomato.png) no-repeat 0 0/contain;
  bottom: 45px;
  left: 45%;
  width: 8.1rem;
  height: 8.1rem;
}

.hero-decorations__pasta {
  position: absolute;
  background: url(/images/header-decorations/Pasta.png) no-repeat 0 0/contain;
  top: 18px;
  left: 47%;
  width: 9.5rem;
  height: 9.6rem;
}

.hero-decorations__leaf2 {
  position: absolute;
  background: url(/images/header-decorations/Leaf2.png) no-repeat 0 0/contain;
  bottom: 7%;
  right: 5%;
  width: 8.3rem;
  height: 11rem;
}

.hero-decorations__round-spaghetti {
  position: absolute;
  background: url(/images/header-decorations/Spaghetti.png) no-repeat center right;
  bottom: -136px;
  left: -15px;
  width: 19rem;
  height: 30rem;
}

@media (min-width: 1999.98px) {
  .header {
    min-height: 1080px;
    max-height: 1400px;
  }
  .header__navbar {
    min-height: 216px;
    max-height: 280px;
    margin-bottom: 25px;
  }
  .header__hero {
    min-height: 864px;
    max-height: 1120px;
    padding-bottom: 25px;
  }
  .hero-article__question {
    padding-top: 90px;
  }
  .hero-article__title {
    margin-bottom: 15px;
  }
  .hero-article__subtitle {
    margin-bottom: 45px;
  }
  .hero-article__sale {
    margin-bottom: 55px;
  }
  .hero-article__sale .hero-article__sale-left-text {
    max-width: 220px;
  }
  .hero-block__dish {
    background: url(/images/hero-pasta.png) center/contain no-repeat;
  }
}

@media (max-width: 1199.98px) {
  .header {
    min-height: 710px;
    max-height: 860px;
  }
  .header__navbar {
    min-height: 142px;
    max-height: 172px;
  }
  .header__hero {
    min-height: 568px;
    max-height: 688px;
    padding-bottom: 25px;
  }
  .navbar-nav-row {
    margin-bottom: 40px;
  }
  .hero-article {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-article__title {
    font-size: 70px;
  }
  .hero-article__subtitle {
    font-size: 25px;
  }
  .hero-decorations__leaf {
    top: -38px;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .header {
    min-height: 600px;
    max-height: 800px;
  }
  .header__navbar {
    min-height: 120px;
    max-height: 160px;
    margin: 0 30px;
    padding-top: 20px;
  }
  .header__hero {
    min-height: 480px;
    max-height: 640px;
    padding-bottom: 25px;
  }
  .navbar-top-row {
    margin-bottom: 35px;
  }
  .hero-block__dish {
    background: url(/images/hero-pasta.png) center/contain no-repeat;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
  .hero-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 56%;
            flex: 0 1 56%;
  }
  .hero-article__question {
    font-size: 4.6rem;
  }
  .hero-article__title {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .hero-article__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .hero-article__line {
    margin-bottom: 15px;
  }
  .hero-article__order-btn {
    margin-bottom: 30px;
  }
  .hero-decorations__leaf {
    width: 40px;
  }
  .hero-decorations__tomat {
    width: 60px;
    left: 50%;
  }
  .hero-decorations__pasta {
    left: 55%;
    width: 67px;
  }
  .hero-decorations__leaf2 {
    right: 0;
    bottom: 0;
    width: 60px;
  }
  .hero-decorations__round-spaghetti {
    background: url(/images/header-decorations/Spaghetti.png) no-repeat center right/contain;
    bottom: -136px;
    left: -105px;
    width: 200px;
  }
}

@media (max-width: 767.98px) {
  .header {
    min-height: 550px;
    background-image: url(/images/bg-rectangle-sm.png);
  }
  .header__navbar {
    height: 15vh;
    min-height: 83px;
    max-height: 120px;
  }
  .header__hero {
    height: 85vh;
    min-height: 467px;
    max-height: 680px;
    position: relative;
    margin: 0;
  }
  .navbar-top-row__phone {
    display: none;
  }
  .navbar-nav-row {
    display: none;
  }
  .hero-article {
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    background: url(/images/hero-pasta.png) bottom 40px right -100px/200px 200px no-repeat;
  }
  .hero-dish {
    display: none;
  }
  .hero-decorations__tomat {
    top: -30px;
    left: 85%;
  }
  .hero-decorations__pasta {
    display: none;
  }
  .hero-decorations__leaf2 {
    display: none;
  }
  .hero-decorations__round-spaghetti {
    left: -80px;
    bottom: -85px;
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 575.98px) {
  .hero-decorations__tomat {
    display: none;
  }
}

@font-face {
  font-family: 'Gabelisa';
  src: url("fonts/Gabelisa.eot");
  src: local("☺"), url("fonts/Gabelisa.woff") format("woff"), url("fonts/Gabelisa.ttf") format("truetype"), url("fonts/Gabelisa.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredericka';
  src: url("fonts/FrederickatheGreat-Regular.eot");
  src: local("☺"), url("fonts/FrederickatheGreat-Regular.woff") format("woff"), url("fonts/FrederickatheGreat-Regular.ttf") format("truetype"), url("fonts/FrederickatheGreat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-ExtraBold.eot");
  src: local("☺"), url("fonts/Montserrat-ExtraBold.woff") format("woff"), url("fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("fonts/Montserrat-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Medium.eot");
  src: local("☺"), url("fonts/Montserrat-Medium.woff") format("woff"), url("fonts/Montserrat-Medium.ttf") format("truetype"), url("fonts/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

.top-dishes {
  margin-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.top-dishes__title {
  margin: 0 15px 1rem;
  font-size: 5rem;
}

.top-dishes__text {
  max-width: 1055px;
  margin: 0 10% 4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 29.17px;
}

.top-dishes__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dish-item {
  width: 33%;
  min-width: 420px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

.dish-item__image {
  background: url(/images/dishes-bg.svg) center/contain;
}

.dish-item__image .dish-image-1 {
  padding: 0 15px;
  height: 400px;
  background: url(/images/top-dishes-1.png) no-repeat center/contain;
}

.dish-item__image .dish-image-2 {
  padding: 0 15px;
  height: 400px;
  background: url(/images/top-dishes-2.png) no-repeat center/contain;
}

.dish-item__image .dish-image-3 {
  padding: 0 15px;
  height: 400px;
  background: url(/images/top-dishes-3.png) no-repeat center/contain;
}

.dish-item__title {
  margin: -8px 10px 1.5rem;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.7rem;
  text-transform: uppercase;
}

.dish-item__text {
  margin-bottom: 4rem;
  padding: 0 35px;
  font-size: 1.7rem;
  line-height: 2.083rem;
}

.dish-item__order-btn {
  margin-bottom: 5rem;
  width: 19.5rem;
  height: 5.7rem;
  background-color: #ffe001;
  outline: none;
  border: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 3.75rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .top-dishes__text {
    margin-bottom: 2rem;
  }
  .dish-item {
    min-width: 300px;
  }
  .dish-item__title {
    margin-bottom: .6rem;
  }
  .dish-item__text {
    margin-bottom: 1.6rem;
  }
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
}

.events__pretitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.events__title {
  margin-bottom: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4.2rem;
}

.events__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.events__carousel {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.slick-slider .slick-list .slick-track {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.carousel__item {
  height: 351px;
  background-color: #bbb;
  overflow: visible;
  outline: none;
}

.carousel__item-1 {
  background: #333 url(/images/carousel-img-1.jpg) no-repeat center/cover;
}

.carousel__item-2 {
  background: #333 url(/images/carousel-img-1.jpg) no-repeat center/cover;
}

.carousel__item-3 {
  background: #333 url(/images/carousel-img-1.jpg) no-repeat center/cover;
}

.carousel__item-4 {
  background: #333 url(/images/top-dishes-1.png) no-repeat center/cover;
}

.carousel__item-5 {
  background: #333 url(/images/carousel-img-1.jpg) no-repeat center/cover;
  opacity: .2;
}

.slick-center {
  position: relative;
  z-index: 3;
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease;
  transition: background-color 0.5s, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, background-color 0.5s;
  transition: transform 0.5s ease, background-color 0.5s, -webkit-transform 0.5s ease;
}

.arrow {
  position: absolute;
  z-index: 9;
  top: 12%;
  width: 30%;
  height: 70%;
  border: none;
  outline: none;
  opacity: .7;
}

.prev {
  background: url(/images/icons/arrow-back.svg) no-repeat left center/13rem;
  left: 0;
}

.next {
  background: url(/images/icons/arrow-next.svg) no-repeat right center/13rem;
  right: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.slick-dots li {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px 5px 20px;
  background-color: #dcdcdc;
}

.slick-dots li button {
  display: none;
}

.slick-dots .slick-active {
  outline: none;
  background-color: #ffe001;
}

@media (max-width: 991.98px) {
  .arrow {
    width: 20%;
  }
}

@media (max-width: 767.98px) {
  .carousel__item {
    height: 301px;
  }
  .slick-center {
    outline: 5px solid #333;
  }
  .arrow {
    width: 20%;
    background-size: 8rem;
  }
}

.try-today {
  width: 86%;
  max-width: 1800px;
  min-height: 420px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 80px;
}

.try-today__block {
  width: 48%;
}

.try-today__block-1 {
  background: url(/images/try-today-1.jpg) no-repeat center/cover;
  height: 420px;
  float: left;
}

.try-today__block-2 {
  margin-bottom: 40px;
  background: url(/images/try-today-2.jpg) no-repeat center/cover;
  height: 192px;
  float: right;
}

.try-today__block-3 {
  background: url(/images/try-today-3.jpg) no-repeat center/cover;
  height: 192px;
  float: right;
}

.no-float {
  clear: both;
}

.try-block {
  position: relative;
  color: #ffffff;
  height: 100%;
  text-transform: uppercase;
}

.try-block__pretitle {
  padding: 38px 0 0 38px;
  margin-right: 40%;
  font-size: 2.5em;
}

.try-block__title {
  padding: 0 0 0 38px;
  margin-right: 40%;
  font-size: 3.3em;
  line-height: 3.75rem;
  font-weight: 700;
}

.try-block_big .try-block__pretitle_big {
  font-size: 2.5em;
  line-height: 3.75rem;
}

.try-block_big .try-block__title_big {
  font-size: 4.2em;
  line-height: 5rem;
}

@media (max-width: 1199.98px) {
  .try-today {
    width: 100%;
    font-size: 8px;
  }
  .try-today__block-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .try-today {
    font-size: 7px;
  }
  .try-block__pretitle {
    padding: 20px 0 0 20px;
  }
  .try-block__title {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 767.98px) {
  .try-today__block {
    width: 100%;
  }
  .try-today__block-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .try-block__pretitle {
    padding: 15px 0 0 15px;
  }
  .try-block__title {
    padding: 0 0 0 15px;
  }
}

.booking {
  margin: 0 auto 60px;
  max-width: 900px;
  min-width: 300px;
  width: 58%;
  text-align: center;
}

.booking__pretitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 4.583rem;
  letter-spacing: 0.125rem;
  margin-bottom: 11px;
}

.booking__title {
  font-size: 5rem;
  line-height: 4.583rem;
  letter-spacing: 0.3rem;
  margin-bottom: 88px;
}

input {
  margin: 10px;
  width: 45%;
  height: 6.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #bebebe;
  padding: 0 22px;
  color: #3d3d3d;
  font-size: 1.7rem;
  line-height: 4.583rem;
}

.booking-submit {
  background-color: #ffe001;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 4.6rem;
  text-transform: uppercase;
  outline: none;
  border: none;
}

@media (max-width: 1199.98px) {
  .booking {
    width: 70%;
  }
}

@media (max-width: 767.98px) {
  .booking {
    width: 90%;
  }
  .booking__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .booking {
    width: 94%;
  }
  input {
    width: 85%;
  }
}

.footer {
  background: url(/images/footer_bg.png) center right/cover no-repeat;
  color: #fff;
}

.footer-rows {
  margin: 0 101px 0;
}

.footer__logo {
  padding-top: 66px;
  margin-bottom: 70px;
}

.footer__mid-row {
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.footer__mid-text {
  width: 44%;
}

.footer__mid-right-side {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__mid-placepoint {
  padding-left: 65px;
  margin-bottom: 15px;
  line-height: 3.75rem;
  font-weight: 500;
  background: url(/images/icons/location_icon.png) center left/31px 35px no-repeat;
}

.footer__mid-mail {
  padding-left: 65px;
  background: url(/images/icons/email-icon.png) center left/29px 23px no-repeat;
}

.footer__end-row {
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__end-copyright {
  font-size: 1.7rem;
}

.footer__end-social-links a img {
  width: 40px;
  margin-left: 12px;
}

@media (max-width: 991.98px) {
  .footer-rows {
    margin: 0 50px 0;
  }
  .footer__logo {
    text-align: center;
    padding-top: 50px;
    margin: 0 0 50px 0;
  }
  .footer__mid-row {
    margin-bottom: 85px;
  }
  .footer__mid-text {
    width: 50%;
  }
  .footer__mid-right-side {
    width: 40%;
  }
  .footer__end-row {
    padding-bottom: 40px;
  }
  .footer__end-social-links a img {
    width: 56px;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  .footer__mid-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
  .footer__mid-text {
    width: 100%;
    line-height: 3.6rem;
    margin-bottom: 35px;
  }
  .footer__mid-right-side {
    width: 100%;
  }
  .footer__end-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__end-copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__end-social-links a img {
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .footer__logo img {
    width: 280px;
  }
  .footer-rows {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.8rem;
  }
  .footer__end-social-links a img {
    width: 38px;
    margin-left: 9px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */