.header {
  height: 100vh;
  min-height: 700px;
  max-height: 1080px;
  background: url(/images/bg-rectangle.svg) no-repeat center/cover;

  &__navbar {
    height: 20vh;
    min-height: 140px;
    max-height: 216px;
    margin: 0 58px;
    padding-top: 40px;
    font-size: 1.6rem;
  }

  &__hero {
    height: 80vh;
    min-height: 560px;
    max-height: 864px;
    margin: 0 15px;
  }
}

.navbar-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;

  &__logo {}

  &__phone {}
}

.navbar-phone {
  position: relative;
  padding-right: 45px;
  text-transform: uppercase;
  font-weight: 700;

  &__title {
    text-align: right;
    padding-top: 5px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  &__number {
    font-size: 2.9rem;
    line-height: 3.2rem;
  }

  &__phone-pic {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navbar-nav-row {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.33px;

  &__ul {
    list-style-type: none;
    text-align: right;
  }

  &__li {
    display: inline-block;
    margin-right: 47px;

    a {
      text-decoration: none;
      color: #000;
      font-size: 1.7rem;
    }
  }

  &__li:last-child {
    margin-right: 0;
  }
}

//hero
.hero-block {
  height: 80vh;
  min-height: 560px;
  max-height: 864px;
  display: flex;
  position: relative;

  &__article {
    flex: 0 1 50%;
  }

  &__dish {
    //background container
    flex: 0 1 50%;
    background: url(/images/hero-pasta.png) center left/contain no-repeat;
  }

  &__decorations {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.hero-article {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__question {
    margin-bottom: 15px;
    color: #000000;
    font-family: Gabelisa;
    font-size: 5.8rem;
    font-weight: 400;
  }

  &__title {
    max-width: 650px;
    font-family: "Fredericka";
    font-size: 90px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 35px;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__line {
    margin-bottom: 35px;
    width: 68%;
    height: 0.5px;
    background-color: #000;
  }

  &__sale {
    margin-bottom: 30px;
    display: flex;
    text-transform: uppercase;
    font-family: "Fredericka";

    .hero-article__sale-left-text {
      position: relative;
      top: 10px;
      left: -5px;
      max-width: 150px;
      font-size: 1.9rem;
      line-height: 2.2rem;
    }

    .hero-article__sale-right-text {
      max-width: 130px;
      line-height: 5.7rem;
      font-size: 5.7rem;
    }
  }

  &__order-btn {
    //margin-bottom: 158px;
    width: 227px;
    height: 58px;
    border: 1px solid #000000;
    background-color: inherit;
    font-weight: 800;
    font-size: 2.1rem;
    text-transform: uppercase;
  }
}

.hero-decorations {

  &__leaf {

    position: absolute;
    background: url(/images/header-decorations/Leaf.png) no-repeat 0 0/contain;
    top: 2%;
    left: 3%;
    width: 5.9rem;
    height: 9.6rem;
  }

  &__tomat {
    position: absolute;
    background: url(/images/header-decorations/Tomato.png) no-repeat 0 0/contain;
    bottom: 45px;
    left: 45%;
    width: 8.1rem;
    height: 8.1rem;
  }

  &__pasta {
    position: absolute;
    background: url(/images/header-decorations/Pasta.png) no-repeat 0 0/contain;
    top: 18px;
    left: 47%;
    width: 9.5rem;
    height: 9.6rem;
  }

  &__leaf2 {
    position: absolute;
    background: url(/images/header-decorations/Leaf2.png) no-repeat 0 0/contain;
    bottom: 7%;
    right: 5%;
    width: 8.3rem;
    height: 11rem;
  }

  &__round-spaghetti {
    position: absolute;
    background: url(/images/header-decorations/Spaghetti.png) no-repeat center right;
    bottom: -136px;
    left: -15px;
    width: 19rem;
    height: 30rem;
    //box-shadow: -42px -8px 147px rgba(12, 13, 12, 0.21);
  }
}




////////media
@media (min-width: 1999.98px) {

  .header {
    min-height: 1080px;
    max-height: 1400px;

    &__navbar {
      min-height: 216px;
      max-height: 280px;
      margin-bottom: 25px;
    }

    &__hero {
      min-height: 864px;
      max-height: 1120px;
      padding-bottom: 25px;
    }
  }

  .hero-article {

    &__question {
      padding-top: 90px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__subtitle {
      margin-bottom: 45px;
    }

    &__sale {
      margin-bottom: 55px;

      .hero-article__sale-left-text {
        max-width: 220PX;
      }
    }
  }

  .hero-block {
    min-height: 864px;
    max-height: 1120px;

    &__dish {
      background: url(/images/hero-pasta.png) center/contain no-repeat;
    }
  }

  .hero-decorations {

    &__leaf {}

    &__tomat {}

    &__pasta {}

    &__leaf2 {
    }

    &__round-spaghetti {}
  }
}

@media (max-width: 1199.98px) {
  .navbar-nav-row {
    margin-bottom: 40px;
  }

  .hero-article {
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      font-size: 70px;
    }

    &__subtitle {
      font-size: 25px;
    }
  }

  .hero-decorations {

    &__leaf {
      top: -38px;
      left: 0;
    }

    &__tomat {}

    &__pasta {}

    &__leaf2 {}

    &__round-spaghetti {}
  }
}

@media (max-width: 991.98px) {

  .header {
    min-height: 710px;
    max-height: 990px;

    &__hero {
      min-height: 568px;
      max-height: 792px;
      padding-bottom: 25px;
    }
  }
  .navbar-top-row {
    margin-bottom: 35px;

    &__logo {}

    &__phone {}
  }

  .hero-block {
    min-height: 568px;
    max-height: 792px;  

    &__article {
      display: flex;
      align-items: center;
      flex: 0 1 56%;
    }

    &__dish {
      background: url(/images/hero-pasta.png) center/contain no-repeat;
      flex: 0 1 44%;
    }

    &__decorations {}
  }

  .hero-article {

    &__subtitle {
      margin-bottom: 15px;
    }

    &__line {
      margin-bottom: 15px;
    }

    &__order-btn {
      margin-bottom: 80px;
    }
  }

  .hero-decorations {

    &__leaf {
      width: 40px;
    }

    &__tomat {
      width: 60px;
      left: 50%;
    }

    &__pasta {
      left: 55%;
      width: 67px;
    }

    &__leaf2 {
      right: 0;
      bottom: 0;
      width: 60px;
    }

    &__round-spaghetti {
      background: url(/images/header-decorations/Spaghetti.png) no-repeat center right/contain;
      bottom: -136px;
      left: -105px;
      width: 200px;
    }
  }
}

@media (max-width: 767.98px) {
  .hero-block {
    flex-direction: column;

    &__article {
      order: 2;
    }

    &__dish {
      min-height: 380px;
    }

    &__decorations {}
  }

}

@media (max-width: 575.98px) {}






//нужны чтобы их перетягивать в медиа-брейки, потом удалить:
.header {

  &__navbar {}

  &__hero {}
}

.navbar-top-row {

  &__logo {}

  &__phone {}
}

.navbar-phone {

  &__title {}

  &__number {}

  &__phone-pic {}
}

.navbar-nav-row {
  &__ul {}

  &__li {
    a {}
  }
}

.hero-block {

  &__article {}

  &__dish {}

  &__decorations {}
}

.hero-article {

  &__question {}

  &__title {}

  &__subtitle {}

  &__sale {

    .hero-article__sale-left-text {}

    .hero-article__sale-right-text {}
  }

  &__order-btn {}
}

.hero-decorations {

  &__leaf {}

  &__tomat {}

  &__pasta {}

  &__leaf2 {}

  &__round-spaghetti {}
}