.header {
  margin-bottom: 8rem;
  position: relative;
  top: 0; left: 0;
  height: 100vh; 
  min-height: 700px;
  max-height: 1080px;
  background: url(../images/bg-rectangle.png) 0 0/100% 100% no-repeat;

  &__navbar {
    height: 20vh;
    min-height: 140px;
    max-height: 216px;
    font-size: 1.6rem;
  }

  &__hero {
    display: flex;
    position: relative;
    top: 0; left: 0;
    height: 80vh;
    min-height: 560px;
    max-height: 864px;
    margin: 0 15px;
  }
}

.navbar-top-row {
  display: flex;
  justify-content: space-between;
  margin: 0 58px 18px;
  padding-top: 40px;

  &__logo {

    h1 {
      font-size: 2px;
      color: transparent;
    }
  }

  //&__phone {}

  &__burger {
    display: none;
    width: 50px;
    height: 50px;
    background: url(../images/icons/burger-icon.svg) center/contain no-repeat;
    transition: background-image 0.5s ease 0.2s; 
  } 

  &__shield {
    display: none;
  }
}

.navbar-phone {
  position: relative;
  padding-right: 45px;
  text-transform: uppercase;
  
  &__title {
    font-weight: 700;
    text-align: right;
    padding-top: 5px;
    font-size: 17px;
    line-height: 21px;
  }

  &__number {
    font-weight: 700;
    font-size: 29px;
    line-height: 31px;
  }

  &__phone-pic {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navbar-nav-row {
  margin: 0 58px 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.33px;

  &__ul {
    list-style-type: none;
    text-align: right;
  }

  &__li {
    display: inline-block;
    margin-right: 47px;

    a {
      text-decoration: none;
      color: #000;
      font-size: 1.7rem;
    }
  }

  &__li:last-child {
    margin-right: 0;
  }
}

.hero-article {
  flex: 0 1 50%;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__question {
    margin-bottom: 15px;
    color: #000000;
    font-family: Gabelisa;
    font-size: 5.8rem;
    font-weight: 400;
  }

  &__title {
    max-width: 650px;
    margin-bottom: 15px;
    font-size: 90px;
  }

  &__subtitle {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 35px;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      height: 0.5px;
      background-color: #000;
    }
  }

  &__sale {
    margin-bottom: 30px;
    display: flex;
    text-transform: uppercase;
    font-family: "Fredericka";

    .hero-article__sale-left-text {
      position: relative;
      top: 10px;
      left: -5px;
      max-width: 150px;
      font-size: 1.9rem;
      line-height: 2.2rem;
    }

    .hero-article__sale-right-text {
      max-width: 130px;
      line-height: 5.7rem;
      font-size: 5.7rem;
    }
  }

  &__order-btn {
    width: 227px;
    height: 58px;
    border: 1px solid #000000;
    background-color: inherit;
    font-weight: 800;
    font-size: 2.1rem;
    text-transform: uppercase;
  }
}

.hero-dish {
  //background container
  flex: 0 1 50%;
  background: url(../images/hero-pasta.png) center left/contain no-repeat;
}

.hero-decorations {
  position: absolute;
  width: 100%;
  height: 100%;

  &__leaf {
    position: absolute;
    background: url(../images/header-decorations/Leaf.png) no-repeat 0 0/contain;
    top: 2%;
    left: 3%;
    width: 5.9rem;
    height: 9.6rem;
  }

  &__tomat {
    position: absolute;
    background: url(../images/header-decorations/Tomato.png) no-repeat 0 0/contain;
    bottom: 45px;
    left: 45%;
    width: 8.1rem;
    height: 8.1rem;
  }

  &__pasta {
    position: absolute;
    background: url(../images/header-decorations/Pasta.png) no-repeat 0 0/contain;
    top: 18px;
    left: 47%;
    width: 9.5rem;
    height: 9.6rem;
  }

  &__leaf2 {
    position: absolute;
    background: url(../images/header-decorations/Leaf2.png) no-repeat 0 0/contain;
    bottom: 5%;
    right: 4%;
    width: 8.3rem;
    height: 11rem;
  }

  &__round-spaghetti {
    position: absolute;
    background: url(../images/header-decorations/Spaghetti.png) no-repeat center right;
    bottom: -136px;
    left: -15px;
    width: 19rem;
    height: 30rem;
    //box-shadow: -42px -8px 147px rgba(12, 13, 12, 0.21);
  }
}




////////media
@media (min-width: 1999.98px) {

  .header {
    min-height: 1080px;
    max-height: 1400px;

    &__navbar {
      min-height: 216px;
      max-height: 280px;
      margin-bottom: 25px;
    }

    &__hero {
      min-height: 864px;
      max-height: 1120px;
      padding-bottom: 25px;
    }
  }

  .hero-article {

    &__question {
      padding-top: 90px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__subtitle {
      margin-bottom: 45px;
    }

    &__sale {
      margin-bottom: 55px;

      .hero-article__sale-left-text {
        max-width: 220px;
      }
    }
  }

  .hero-block__dish {
    background-position: center;
  }
}

@media (max-width: 1199.98px) {
  .header {
    min-height: 710px;
    max-height: 860px;

    &__navbar {
      min-height: 142px;
      max-height: 172px;
    }

    &__hero {
      min-height: 568px;
      max-height: 688px;
      padding-bottom: 25px;
    }
  }

  .hero-article {
    padding-left: 15px;
    padding-right: 15px;

    &__title {
      font-size: 70px;
    }

    &__subtitle {
      font-size: 25px;
    }
  }

  .hero-decorations {

    &__leaf {
      top: -38px;
      left: 0;
    }
  }
}

@media (max-width: 991.98px) {

  .header {
    min-height: 600px;
    max-height: 800px;

    &__navbar {
      min-height: 120px;
      max-height: 160px;      
    }

    &__hero {
      min-height: 480px;
      max-height: 640px;
      padding-bottom: 25px;
    }
  }

  .navbar-top-row {
    margin: 0 30px 35px;
    padding-top: 20px;
  }

  .navbar-nav-row {

    &__li {
      margin-right: 35px;
    }
  }

  .hero-dish {
    flex: 0 1 44%;
  }

  .hero-article {
    flex: 0 1 56%;

    &__question {
      font-size: 4.3rem;
    }

    &__title {
      font-size: 5rem;      
    }

    &__subtitle {
      font-size: 20px;
      margin-bottom: 15px;
      padding-bottom: 25px;
    }

    &__order-btn {
      margin-bottom: 30px; /////////
    }
  }

  .hero-decorations {

    &__leaf {
      width: 40px;
    }

    &__tomat {
      width: 60px;
      left: 50%;
    }

    &__pasta {
      left: 55%;
      width: 67px;
    }

    &__leaf2 {
      right: 0;
      bottom: 0;
      width: 60px;
    }

    &__round-spaghetti {
      background-size: contain;
      left: -105px;
      width: 200px;
    }
  }
}

@media (max-width: 767.98px) {

  .header {
    height: 94vh;
    min-height: 550px;
    background-image: url(../images/bg-rectangle-sm.png);

    &__navbar {
      height: 14vh;
      min-height: 83px;
      max-height: 120px;
    }

    &__hero {
      height: 80vh;
      min-height: 467px;
      max-height: 680px;
      margin: 0;    
    }
  }

  .navbar-top-row {

    transition: background-color 0.6s ease;
    z-index: 11;

    &_active {
      margin: 0;
      padding: 20px 30px 0 0;
      position: fixed;
      left: 0; top: 0;
      width: 100%;
      height: 100vh;
    }
    
    &__logo {
      transition: opacity 0.4s ease,  visibility 0.4s ease;
      color: transparent;
      position: relative;
      z-index: 2;
      max-height: 100px;
      visibility: visible;

      &_unactive {
        padding-left: 30px;
        visibility: hidden;
        opacity: 0;
      }  
    }

    &__phone {
      transition: opacity 0.4s ease,  visibility 0.4s ease;
      position: fixed;
      top: 20%; left: 0;
      width: 100%;
      z-index: 15;
      visibility: hidden;
      opacity: 0;

      &_active {
        visibility: visible;
        opacity: 1;
      }
    }

    &__burger {
      cursor: pointer;
      display: block;
      position: relative;
      z-index: 100;
      margin-top: 15px;    
      color: transparent; 

      &_active {       
        background-image: url(../images/icons/close-icon.svg);
      }
    } 

    &__shield {
      margin: 0;
      display: block;
      position: fixed;
      left: 0; top: 0;
      width: 100%;
      height: 100vh;
      background-color: #eee;
      z-index: 11;
      opacity: .85;
      transform: translate(0, -100%);
      transition: transform 0.4s ease;

      &_active {
        transform: translate(0, 0);
      }
    }
  }

  .navbar-phone {
    width: 244px;
    margin: 0 auto;
  }

  .navbar-nav-row {
    margin: 0;
    position: fixed;
    left: 0; top: 40%;
    width: 100%;
    text-align: center;
    visibility: hidden;
    z-index: 15;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    &_active {
      visibility: visible;
      opacity: 1;
    }
    
    &__ul {
      display: flex;
      flex-direction: column;
      align-items:center;
    }

    &__li {      
      margin-bottom: 35px;
      margin-right: 0;

      a {font-size: 3rem;}
    }
  }

  .hero-article {
    margin: 0 auto;
    flex: 0 0 100%;
    background: url(../images/hero-pasta.png) bottom 40px right -100px/200px 200px no-repeat;

    &__question {
      font-size: 3.5rem;
      
    }

    &__title {
      font-size: 6rem;
      
    }

    &__subtitle {
      font-size: 17px;
    }

    &__sale {

      .hero-article__sale-left-text {
        font-size: 1.7rem;
        
      }

      .hero-article__sale-right-text {
        font-size: 5rem;
        
      }
    }

    &__order-btn {
      margin-bottom: 10px;
      font-size: 1.7rem;
      
    }
  }

  .hero-dish {
    display: none;
  }

  .hero-decorations {

    &__leaf {
      left: 15px;
      top: 20px;
    }

    &__tomat {
      top: 30px;
      left: 85%;;
    }

    &__pasta {
      display: none;
    }

    &__leaf2 {
      display: none;
    }

    &__round-spaghetti {
      left: -80px; 
      bottom: -85px;
      width: 18rem;
      height: 18rem;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    height: 94vh;
    min-height: 520px; 
    max-height: 658px;
    background-image: url(../images/bg-rectangle-sm.png);

    &__navbar {
      height: 14vh;
      min-height: 77px;
      max-height: 98px;
    }

    &__hero {
      height: 80vh;
      min-height: 432px;
      max-height: 560px;
      position: relative;
      margin: 0;     
    }
  }

  .navbar-top-row {

    &__logo {
      display: flex;
      align-items: center;

      &_unactive {
        margin-top: -17px;
      }
      
      img {
        width: 80%;
        max-width: 300px;
      }
    }
  }

  .hero-article {
    margin: 0 auto;
    flex: 0 0 100%;
    background: url(../images/hero-pasta.png) bottom 40px right -100px/200px 200px no-repeat;

    &__question {
      font-size: 3rem;
      
    }

    &__title {
      font-size: 5rem;
      
    }

    &__subtitle {
      font-size: 14px;
    }

    &__order-btn {
      width: 190px;
      height: 45px;
    }
  }

  .hero-decorations {
    &__tomat {
      display: none;
    }
  }
}

@media (max-height: 500px) {
  .navbar-nav-row {
    &__li {
      margin-bottom: 15px;
    }
  }
}