.try-today {
  width: 86%;
  max-width: 1800px;
  min-height: 420px;
  margin: 0 auto;
  padding: 15px;

  margin-bottom: 80px;


  &__block {
    width: 48%;
  }

  &__block-1 { //big
    background: url(/images/try-today-1.jpg) no-repeat center/cover;
    height: 420px;
    float: left;
  }

  &__block-2 {
    margin-bottom: 40px;
    background: url(/images/try-today-2.jpg) no-repeat center/cover;
    height: 192px;
    float: right;
  }

  &__block-3 {
    background: url(/images/try-today-3.jpg) no-repeat center/cover;
    height: 192px;
    float: right;
  }
}
.no-float {
  clear: both;
}

.try-block {
  position: relative;
  color: #ffffff;
  height: 100%;
  text-transform: uppercase;

  &__pretitle {
    padding: 38px 0 0 38px;
    margin-right: 40%;
    font-size: 2.5em;
  }

  &__title {
    padding: 0 0 0 38px;
    margin-right: 40%;
    font-size: 3.3em;
    line-height: 3.75rem;
    font-weight: 700;
  }

}

.try-block_big {

  .try-block__pretitle_big {
    font-size: 2.5em;
    line-height: 3.75rem;
  }

  .try-block__title_big {
    font-size: 4.2em;
    line-height: 5rem;
  }

}












@media (min-width: 1999.98px) {

}

@media (max-width: 1199.98px) {
  .try-today {
    width: 100%;

    font-size: 8px;

    &__block {
      width: 100%;
    }

    &__block-1 {
      margin-bottom: 20px;

    }

    &__block-2 {
      margin-bottom: 20px;
    }

    &__block-3 {

    }
  } 
  .try-block {

    &__pretitle {}

    &__title {}
  }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
  //рокк ебол
}

@media (max-width: 575.98px) {
  //ТОЛЬКО тута 767 ненадо
}





////////@extend
.try-today {

  &__block {
  }

  &__block-1 {

  }

  &__block-2 {

  }

  &__block-3 {

  }
}

.try-block {

  &__pretitle {}

  &__title {}
}
.try-block_big {

  .try-block__pretitle_big {

  }

  .try-block__title_big {

  }

}