html {
   font-family: Montserrat, sans-serif;
   color: #000000;
}



@media (max-width: 767.98px) {
   body {
      font-size: 0.9rem;
   }
}

@import '_header';
@import '_fonts';
@import '_top-dishes';
@import '_events';
@import '_try-today';
@import '_booking';
@import '_footer';


@media (min-width: 1199.98px) {
   //когда больше 1200!
}