html {
   font-size: 10px;
   font-family: Montserrat, sans-serif;
   color: #000000;
}

@media (min-width: 1999.98px) {
   html {      font-size: 13px;   }
}

@media (max-width: 575.98px) {
   html {      font-size: 9px;   }
}

.title {
   font-family: "Fredericka";
   text-transform: uppercase;
}

@import '~normalize.css';
@import '_header';
// @import '_fonts';
@import '_top-dishes';
@import '_events';
@import '_try-today';
@import '_booking';
@import '_footer';


@media (min-width: 1999.98px) {

}

@media (max-width: 1199.98px) {
  
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  
}


.ibg{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img{
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}